<script setup>
import HeaderContainer from "@/container/HeaderContainer.vue";
import MainContainer from "@/container/MainContainer.vue";
</script>

<template>
  <header-container/>
  <MainContainer/>
</template>
