<template>
  <header-container/>
  <PreviewContainer/>
</template>


<script setup>
import HeaderContainer from "@/container/HeaderContainer.vue";
import PreviewContainer from "@/container/PreviewContainer.vue";
</script>


<style>
.main-container {
  display: flex;
  margin-top: 3%;
  text-align: center;
  font-size: small;
  margin-left: 20%;
  flex-direction: column;
  background-color: whitesmoke;
  max-width: 40%;
}
</style>