<template>
  <div class="page-container">
    <header class="header">
      <router-link :to="{ name: 'home' }" class="header-text form-text">Форма</router-link>
      <router-link :to="{ name: 'preview' }" class="header-text preview-text">Превью</router-link>
<!--      TODO ВАШЕ ЛОГО "ALEF"-->
      <img class="logo" src="#" alt="Логотип">
    </header>
    <hr>
  </div>
</template>


<script>

export default {
  name: "HeaderContainer",
}
</script>


<style scoped>
.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background: #FFFFFF;
}

.header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.48);
}

.form-text {
  position: absolute;
  right: calc(50% + 10px); /* Расстояние между формой и превью */
}

.preview-text {
  position: absolute;
  left: calc(50% + 10px); /* Расстояние между формой и превью */
}
</style>
