<template>
  <div class="main-container">
    <h2 class="text">Персональные данные</h2>
    <div>
      <form class="form" @submit.prevent="submit">
        <div>
          <div class="input-row">
            <input v-model="form.parent_name" class="input-form" placeholder="Имя">
            <input v-model="form.parent_age" class="input-form" placeholder="Возраст">
          </div>
          <div class="childrens">
            <div class="flex-one-row">
              <p class="text-children">Дети (макс. 5)</p>
                <button class="add-children" v-if="counter !== 5" @click="counterAdd">Добавить ребенка</button>
            </div>
            <div class="children-inputs">
              <div class="input-row" v-for="(child, index) in form.children" :key="index">
                <input v-model="child.name" class="input-form" placeholder="Имя">
                <input v-model="child.age" class="input-form" placeholder="Возраст">
                <button class="input-form" @click="removeChild(index)">Удалить</button>
              </div>
            </div>
          </div>
        </div>
        <router-link :to="{name: 'preview'}">
          <button class="submit-button" @click="send" type="submit" :hidden="form.children.length === 0">Сохранить
          </button>
        </router-link>
      </form>
    </div>
  </div>
</template>
<script>
import {useTestStore} from "@/stores/testStore";
import {mapActions, mapState} from "pinia";

export default {
  data() {
    return {
      form: {
        parent_name: "",
        parent_age: "",
        children: []
      }
    };
  },
  computed: {
    ...mapState(useTestStore, ["counter"])
  },
  methods: {
    ...mapActions(useTestStore, ["sendForm", "addCount", "removeCount"]),
    send() {
      if (this.form.children.length > 0) {
        this.sendForm(this.form.parent_name, this.form.parent_age, this.form.children);
      }
    },
    counterAdd() {
      if (this.form.children.length < 5) {
        this.form.children.push({name: "", age: ""});
        this.addCount();
      }
    },
    removeChild(index) {
      this.form.children.splice(index, 1);
      this.removeCount();
    }
  }
};
</script>
<style scoped>
.main-container {
  display: flex;
  margin: 3% auto;
  text-align: center;
  font-size: small;
  flex-direction: column;
  background-color: whitesmoke;
  max-width: 40%;
}

.text {
  display: block;
  margin-right: auto;
  margin-bottom: 2%;
}

.form {
  display: block;
  flex-direction: column;
}

.input-form {
  display: block;
  height: 56px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

::placeholder {
  color: #888;
}

.childrens {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: flex-start;
}

.text-children {
  color: #111;
  font-size: 20px;
  margin-right: 10px;
}

.add-children {
  display: block;
  font-size: 20px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.children-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
}

.children-inputs {
  margin-left: 30px;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.submit-button {
  font-size: 20px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.flex-one-row {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  align-items: center;
}
</style>