<template>
  <div class="main-container">
    <h2 class="text">Персональные данные</h2>
    <div class="personal-info">
      <p class="children-header">{{ results[0] }} лет</p>
    </div>
    <div>
      <div>
        <p class="children-header">Дети</p>
        <ul class="children-list">
          <li v-for="child in results[1]" :key="child.name" class="child-item">
            <span class="child-name">{{ child.name }}</span>,
            <span class="child-age">{{ child.age }} лет</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from "pinia";
import {useTestStore} from "@/stores/testStore";

export default {
  computed: {
    ...mapState(useTestStore, ["results"]),
  },
};
</script>

<style scoped>
.main-container {
  display: flex;
  margin: 3% auto;
  text-align: left;
  font-size: small;
  max-width: 40%;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
  margin-bottom: 2%;
  font-size: 24px;
  color: #333;
}

.personal-info {
  margin-bottom: 20px;
}

.children-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.children-list {
  list-style-type: none;
  padding: 0;
}

.child-item {
  margin-bottom: 8px;
}

.child-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.child-age {
  font-size: 14px;
  color: #777;
}
</style>
